html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

indexMain {
  min-height: 80vh;
}
indexFooter {
  margin-top: 20px;
  text-align: center;
}
/* CAROUSEL FEEDER */
.carousefeederitem {
  width: 90vw;
  height: 300px;
  /* max-width: 1170px; */
  margin: 0.5rem auto 0.1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  background-color: inherit;
}
